/* Mengatur tampilan halaman utama */
body {
    background-color: #19ee3c5b; /* Warna latar belakang terbaru */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Mengatur tampilan teks */
h1 {
    font-size: 36pt; /* Ukuran font tetap */
    color: #e04949; /* Warna teks terbaru */
}

h2 {
    color: #20d8f0; /* Warna teks terbaru */
}

h3 {
    color: rgb(241, 245, 26); /* Warna teks h3 diubah menjadi merah */
    text-align: left; /* Teks h3 sejajar ke kiri */
    font-size: 8pt; /* Ukuran font 8pt */
}

/* Mengatur tampilan paragraf */
p {
    margin-left: 50px; /* Paragraf memiliki margin kiri sebesar 50px */
}

/* Mengatur tampilan navbar */
.navbar {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #e0c11069;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #c78329;
    border-radius: 3px;
}

/* Mengatur tampilan link */
a {
    color: #0ed8acb0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}